

.footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

.socialMedi {
  margin-top: 10px;
}

.socialMedi a {
  margin: 0 10px;
  text-decoration: none;
}

.socialMedi .mr-4 {
  margin-right: 10px;
}

p {
  margin-top: 20px;
}
